* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

:root {
    --soleil-box-shadow: 0 0 490px 60px rgb(224, 131, 8);
    --lune-box-shadow : 0 0 20px 1px rgb(217, 217, 217);
    --mer-box-shadow: 0 0 30px 1px #083ff2;
    --terre-box-shadow : 0 0 30px 1px #c26e00;
    --foudre-box-shadow: 0 0 20px 1px #15b700;
    --feu-box-shadow: 0 0 70px 1px #ab0055;
    --air-box-shadow: 0 0 70px 1px #444444;
    --soleil-linear-gradient: linear-gradient(135deg, rgb(224, 131, 8), rgb(255, 242, 0));
    --mer-linear-gradient: linear-gradient(135deg, rgb(10, 76, 209), rgb(9, 255, 198));
    --terre-linear-gradient: linear-gradient(135deg, rgb(188, 79, 1), rgb(255, 183, 0));
    --lune1-linear-gradient: linear-gradient(135deg, rgb(102, 102, 102), rgb(233, 233, 233));
    --lune2-linear-gradient: linear-gradient(135deg, rgb(102, 102, 102), rgb(233, 233, 233));
    --lune3-linear-gradient: linear-gradient(135deg, rgb(102, 102, 102), rgb(233, 233, 233));
    --foudre-linear-gradient: linear-gradient(135deg, rgb(58, 169, 10), rgb(136, 255, 0));
    --feu-linear-gradient: linear-gradient(135deg, rgb(194, 1, 1), rgb(255, 0, 140));
    --air-linear-gradient: linear-gradient(135deg, rgb(54, 49, 49), rgb(0, 0, 0));
    --luneAir1-linear-gradient: linear-gradient(135deg,rgb(102, 102, 102), rgb(255, 255, 255));
    --luneAir2-linear-gradient: linear-gradient(135deg, rgb(102, 102, 102), rgb(233, 233, 233));
}

body {
    background-image: url(/201447.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.systeme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    width: 100%;
    height: 100%;
    /* gap: 3em; */
}

.soleil {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: var(--soleil-box-shadow);    
    background-image: var(--soleil-linear-gradient);
    animation: 10s soleil infinite linear;
    position: absolute;
    box-sizing: border-box;
    filter: brightness(1.2) saturate(1.2);
    
}

@keyframes soleil {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1); 
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.planet {
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
}

.mer {
    width: 17px;
    height: 17px;
    box-shadow: var(--mer-box-shadow);    
    background-image: var(--mer-linear-gradient);
    animation: 40s mer infinite linear;
}

.foudre {
    width: 26px;
    height: 26px;
    box-shadow: var(--foudre-box-shadow);
    background-image: var(--foudre-linear-gradient);
    animation: 26s foudre infinite linear;
}

.feu {
    width: 62px;
    height: 62px;
    background-image: var();
    box-shadow: var(--feu-box-shadow);
    background-image: var(--feu-linear-gradient);
    animation: 29s feu infinite linear;
    
}

.lune1 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: var(--lune-box-shadow);    
    background-image: var(--lune1-linear-gradient);
    animation: 9s lune1 infinite linear;    
    position: fixed;
    top: 50%;
    left: 50%;}

.lune2 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: var(--lune-box-shadow);    
    background-image: var(--lune2-linear-gradient);
    animation: 9s lune2 infinite linear;    
    position: fixed;
    top: 50%;
    left: 50%;
}
.lune3 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: var(--lune-box-shadow);    
    background-image: var(--lune3-linear-gradient);
    animation: 7.5s lune3 infinite linear;    
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes lune1 {
    0% {
        transform: translate(50%, 50%) rotate(0deg) translateX(43px);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg) translateX(43px);
    }
}

@keyframes lune2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(-43px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(-43px) ;
    }
}

@keyframes lune3 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(-53px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(-53px);
    }
}

.terre {
    width: 32px;
    height: 32px;
    box-shadow: var(--terre-box-shadow);    
    background-image: var(--terre-linear-gradient);
    animation: 23s terre infinite linear;
}

.air {
    width: 100px;
    height: 100px;
    box-shadow: var(--air-box-shadow);    
    background-image: var(--air-linear-gradient);
    animation: 76s air infinite linear;
}

.luneAir1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: var(--lune-box-shadow);    
    background-image: var(--luneAir1-linear-gradient);
    animation: 6s luneAir1 infinite linear;    
    position: fixed;
    top: 50%;
    left: 50%;
}

.luneAir2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: var(--lune-box-shadow);    
    background-image: var(--luneAir2-linear-gradient);
    animation: 12s luneAir2 infinite linear;
    position: fixed;
    top: 50%;
    left: 50%;
}


@keyframes luneAir1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(-60px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(-60px);
    }
}

@keyframes luneAir2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(70px) ;
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg) translateX(70px) ;
    }
}


@keyframes mer {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-90px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-90px) ;
    }
}

@keyframes foudre {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-130px) ;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-130px) ;
    }
}

@keyframes feu {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-200px) ;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-200px) ;
    }
}

@keyframes terre {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-275px) ;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-275px) ;
    }
}

@keyframes air {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-380px) ;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-380px) ;
    }
}